
/* global */
:root {
   --first-color: #2469cc;
   --second-color: #cc2475;
   --third-color: blueviolet;
   --light-color : aliceblue;
   --dark-color : #223;
   --color-gradient-medium : blueviolet; 
   --color-gradient-light : violet; 
   --short-transition: 0.4s;
}
body,
body::before,
body::after {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6em;
    text-align: center;
    margin: 0;
    color: var(--light-color);
    background: var(--dark-color);
    scroll-behavior: smooth;
}
/* body > * {
    overflow: hidden;
} */


/* semantics */
main {
    display: grid;
    grid-template-columns: 60vw 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    margin: 30px;
}
aside {
    transition: opacity 0.3s;
    opacity: 0;
    margin: 20px;
    outline: 1px dotted var(--color-gradient-medium);
    max-width: 800px;
    /* outline: 1px solid yellow; */
}
footer {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}
p {
    font-weight: 900;
    font-size: large;
}
h3 {
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--light-color);
}
a:hover > div {
    color: #223;
    border-radius: 5px;
    background-color: var(--light-color);
}
svg {
    max-width: 50px;
    opacity: 1;
}


/* details */
details {
    opacity: 0.5;
}
details[open] {
    opacity: 1;
    transition: all var(--short-transition);
    outline: 1px dotted var(--color-gradient-medium);
    padding-bottom: 60px;
}
summary {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 15px;
    margin: 5px;
    list-style: none;
    border-bottom: 4px solid skyblue;
    /* align-items: start; */
    /* width: 90%; */
    /* outline: 1px dotted var(--color-gradient-medium); */
}

summary:hover {
    cursor: pointer;
}
footer summary {
    align-items: center;
}


/* details animations */
/* details[open]:has(+.scroll--down:hover) > summary {
    opacity: 0;
}
details[open]:has(+.scroll--down) > summary {
    transition: opacity 0.5s;
}

details[open]:has(+.scroll--down:hover) > .scroll {
    translate: 0 -300px;
}
details[open]:has(+.scroll--down) > .scroll {
    transition: translate 3s;
}
.scroll--down {
    width: 100%;
    border-bottom: 50px solid var(--color-gradient-medium);
} */


/* blocs */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
header > .container {
    grid-template-columns: 60vw 1fr;
}
.container--footer {
    padding: 50px;
}
.block {
    display: flex;
    margin: 15px;
    min-width: 250px;
}
.block:has(.block--header) {
    justify-content: center;
}
.block--nav {
    width: 80%;
    justify-content: space-between;
}
.block--skills {
    justify-content: center;
}
.block--experience {
    align-items: flex-start;
    flex-direction: column;
}
.scroll {
    overflow-y: auto;
    max-height: 300px;
    width: fit-content;
    margin-bottom: 200px;
    position: relative;
    left: 2vw;
}
/* .text {
    margin: 5px;
} */
.text > * {
    max-width: 30ch;
    text-align: left;
    font-weight: lighter;
    font-size: medium;
    margin: 15px;
}


/* reveal */
.reveal {
    opacity: 1;
    transition: 1s opacity;
}


/* icons */
svg {
    fill: #2469cc;
    max-width: 30px;
}
.items {
    padding: 0 12px;
    max-width: 90px;
}
.items > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.icons__small svg {
    max-width: 25px;
}
.items:hover .icons__small,
.items:hover .icons {
    border-radius: 3px;
    transition: var(--short-transition) ease-out border-radius;
}
.icons:not(:hover), .icons__small:not(:hover) {
    border-radius: 25px;
    transition: var(--short-transition) ease-in-out border-radius;
}
.icons, .icons__small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--light-color);
    border-radius: 25px;
    cursor: pointer;
}


/* bumper */
.bumper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    background: 
    linear-gradient( 
        to bottom, 
        #223 45%,
        blueviolet 80%, 
        violet 100%
         );
}
.bumper::before {
    position: relative;
    top: -250px;
    left: 25%;
    display: block;
    width: 100%;
    content: attr(data-description);
    z-index: 11;
}
.bumper::after {
    opacity: 0;
    display: block;
    width: 100%;
    height: 200px;
    content: "";
}
.bumper:hover::after {
    opacity: 0.5;
    transition: opacity var(--short-transition);
}
.bumper:not(:hover)::after {
    transition: opacity var(--short-transition);
}
.bumper > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    filter: blur(5px);
    mix-blend-mode: luminosity;
}
.bumper:hover > img {
    border: 55px solid var(--dark-color);
    mix-blend-mode: normal;
    filter: blur(0);
    transition: all var(--short-transition);
}
.bumper:not(:hover) > img {
    border: 15px solid transparent;
    transition: all var(--short-transition);    
}


/* mask */
.btm-layer {
    position: absolute;
    mask-image: url("../mask/mask.png");
    -webkit-mask-image: url("../mask/mask.png");
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: 0% 0%;
    -webkit-mask-position: 0% 0%;
    opacity: 1;
}
.up-layer {
    opacity: 0;
}
.show {
    animation: 0.8s steps(5) 0s running brush ;
    mask-position: 100% 0%;
    -webkit-mask-position: 100% 0%;
}


/* button */
div:hover > h1 {
    background: var(--second-color);
    animation: 2s linear 0s infinite running glisten;
}
h1 {
    position: relative;
    min-width: 300px;
    padding: 15px 5px;
    outline: 2px solid var(--second-color);
    background: linear-gradient(
        160deg, 
        var(--third-color), 
        var(--second-color)
        );
    border-radius: 6px;
    color: var(--light-color);
    border-bottom: 4px solid var(--second-color);
    border-top: 2px solid var(--light-color);
    border-left: 2px solid var(--light-color);
    border-right: 2px solid var(--second-color);
    /* cursor: pointer; */
}


/* blur animation */
/* .btn > p {
    font-size: large;
    font-weight: 600;
    margin: 10px 0 10px 0;
    filter: blur(1px);
} */
/* .bumper:hover > .btn > * {
    filter: blur(0);
    transition: filter var(--short-transition);
}
.btn:not(:hover) > * {
    transition: filter var(--short-transition);
} */


/* animations */
@keyframes brush {
    0% {
        mask-position: 0% 0% ;
        -webkit-mask-position: 0% 0% ;
    }
    100% {
        mask-position: 100% 0%;
        -webkit-mask-position: 100% 0%;
    }
}
@keyframes glisten {
    0% {
        box-shadow: inset 0.5em 0.5em 0.2rem var(--second-color);
    }
    70% {
        box-shadow: inset 1em 1.5em 2rem var(--third-color);
    }
    100% {
        box-shadow: inset 0.5em 0.5em 0.2rem var(--second-color);
    }
}


/* screen */

@media (max-aspect-ratio: 1/1 ) or (max-height: 700px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .text > *  {
        font-size: small;
    }
    .container {
        display: block;
    }
    .block {
        margin: 0;
    }
    .block--experience > *, .scroll {
        margin-left: 5vw;
    }
    details > .bumper > img {
        /* border: 5px solid var(--dark-color); */
        mix-blend-mode: normal;
        filter: blur(0);
        transition: all var(--short-transition);
    }
}