
/* global */
:root {
    --primary-color : #050610;
    --secondary-color: hsl(53, 24%, 9%);
    --accent-color: #2c0449;
    --text-color : linen;
   --outline-color : darkslateblue; 
   
   --short-transition: 0.4s;
   --border-rad-sm: 6px;
   --border-rad-bg: 20px;
}
:root:has(h1.darkmode) {
    
/*     
    --primary-color: aliceblue;
    --secondary-color: mintcream;
    --accent-color: lightcyan;
    --text-color : royalblue;
    --outline-color : dodgerblue;  
    */
  
/*     
    --primary-color : silver;
    --secondary-color:aliceblue;
    --accent-color: lightcyan;
    --text-color : dimgray;
    --outline-color : white;  
    */

/*      
    --primary-color : silver;
    --secondary-color: ghostwhite;
    --accent-color: lavender;
    --text-color : black;
    --outline-color : white;  
    */
       
/*     
    --primary-color : deeppink;
    --secondary-color: magenta;
    --accent-color: fuchsia;
    --text-color : black;
    --outline-color : firebrick;  
    */


    
    --primary-color : whitesmoke;
    --secondary-color: snow;
    --accent-color: seashell;
    --text-color : tomato;
    --outline-color : lightsalmon;  
   
}
body,
body::before,
body::after {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6em;
    text-align: center;
    margin: 0;
    color: var(--text-color);
    background: radial-gradient(var(--accent-color), var(--primary-color));
    scroll-behavior: smooth;
}


/* semantics */
header {
    flex-wrap: wrap;
}
header > .container {
    display: flex;
    justify-content: space-around;
}
header .block {
    justify-content: center;
    flex-wrap: wrap;
}
main {
    display: grid;
    grid-template-columns: 3fr 2fr 300px;
    margin: 40px 10vw;
    isolation: isolate;
}
aside {
    transition: opacity 0.3s;
    opacity: 0;
    margin: 1em 1em;
    padding: 1px;
    outline: 1px solid var(--outline-color);
    box-shadow: inset
    -2px -1px 2.5em var(--accent-color)
    ;
    border-radius: var(--border-rad-sm);
    filter: contrast(100%) brightness(100%) ;    
    background-image:
        linear-gradient( 
        to bottom, 
        transparent 40%,
        var(--secondary-color) 85%, 
        var(--accent-color) 100%
         ),
        linear-gradient(20deg, rgba(0,0,0,0), var(--accent-color)),
        radial-gradient(circle at 50% 50%, var(--secondary-color) 36%, rgba(0,0,0,0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 65 65' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.6' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
aside:hover {
    outline: 3px solid var(--outline-color);
}
aside > * {
    filter: brightness(100%);
    background-image: none;
}
footer {
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}
p {
    font-weight: 900;
    font-size: large;
}
div:hover > h1 {
    background: var(--secondary-color);
    animation: 2s ease-in-out 0s infinite running glisten;
}
h1 {
    position: relative;
    min-width: 300px;
    padding: 15px 5px;
    outline: 1px solid var(--outline-color);
    background: linear-gradient(
        160deg, 
        var(--accent-color),
        var(--secondary-color) 
        );
    border-radius: 6px;
    color: var(--text-color);
    cursor: pointer;
}
.block--header > button {
    /* padding: 0; */
    /* margin: 0; */
    -webkit-appearance: none;
    appearance: none;
}
.tags > h3:hover {
    outline: 3px solid var(--outline-color);
}
.tags > h3 {
    cursor: default;
    font-size: small;
    margin: 5px;
    text-align: center;
    outline: 1px solid var(--outline-color);
    background: linear-gradient(
        360deg, 
        var(--secondary-color) 70%, 
        var(--accent-color) 90%
        );
    border-radius: var(--border-rad-bg);
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover > div {
    /* color: #223; */
    border-radius: var(--border-rad-sm);
    background-color: var(--text-color);
}
svg {
    max-width: 20px;
    fill: var(--accent-color);
    /* opacity: 1; */
}


/* details */
details {
    opacity: 0.5;
}
details[open] {
    padding: 0;
    opacity: 1;
    transition: all var(--short-transition);
    /* background: 
    linear-gradient( 
        to bottom, 
        transparent 40%,
        var(--secondary-color) 85%, 
        var(--accent-color) 100%
         ); */
}
summary {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 15px;
    margin: 0;
    font-size: small;
    list-style: none;
    background: linear-gradient(
        180deg, 
        var(--primary-color), 
        var(--secondary-color)
        );
    border-radius: var(--border-rad-sm) var(--border-rad-sm) 0 0;
    text-shadow: 1px 1px 1px var(--primary-color);
}
summary:hover {
    cursor: pointer;
}
footer summary {
    align-items: center;
}


/* blocs */
.container {
    min-height: 500px;
    padding-bottom: 50px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    margin-bottom: 40px;
}
.container--experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container--contact {
    margin-bottom: 50px;
}
.block {
    display: flex;
    min-width: 250px;
    justify-content: center;
}
.block--header {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}
.block--skills, .block--contact {
    justify-content: center;
}
.block--experience {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.scroll {
    overflow-y: auto;
    height: 300px;
    scrollbar-width: thin;
}
/* #wikiquote > p {} */
.text > * {
    columns: 25ch;
    text-align: left;
    font-weight: lighter;
    font-size: medium;
    margin: 0 20px;
}


/* reveal */
.reveal {
    opacity: 1;
    transition: 1s opacity;
}


/* icons */
.items {
    padding: 0 12px;
    max-width: 90px;
}
.items > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.icons__small svg {
    max-width: 25px;
}
.items:hover .icons__small,
.items:hover .icons {
    border-radius: 3px;
    transition: var(--short-transition) ease-out border-radius;
}
.icons:not(:hover), .icons__small:not(:hover) {
    border-radius: 25px;
    transition: var(--short-transition) ease-in-out border-radius;
}
.icons, .icons__small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--text-color);
    border-radius: 25px;
    cursor: pointer;
}
.icons {
    color: var(--accent-color);
}


/* bumper */
.bumper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 580px;
    border-radius: 0 0 var(--border-rad-sm) var(--border-rad-sm);
    /* background: 
    linear-gradient( 
        to bottom, 
        transparent 40%,
        var(--secondary-color) 85%, 
        var(--accent-color) 100%
         ); */
}
.bumper::before {
    position: relative;
    top: -200px;
    left: 25%;
    display: block;
    width: 100%;
    content: attr(data-description);
    z-index: 11;
}
.bumper::after {
    opacity: 0;
    display: block;
    width: 100%;
    height: 200px;
    content: "";
}
.bumper:hover::after {
    opacity: 0.5;
    transition: opacity var(--short-transition);
}
.bumper:not(:hover)::after {
    transition: opacity var(--short-transition);
}
.bumper > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    filter: blur(5px);
    mix-blend-mode: luminosity;
}
.bumper:hover > img {
    border: 55px solid var(--primary-color);
    mix-blend-mode: normal;
    filter: blur(0);
    transition: all var(--short-transition);
}
.bumper:not(:hover) > img {
    border: 15px solid transparent;
    transition: all var(--short-transition);    
}


/* mask */
.btm-layer {
    position: absolute;
    mask-image: url("../mask/mask.png");
    -webkit-mask-image: url("../mask/mask.png");
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: 0% 0%;
    -webkit-mask-position: 0% 0%;
    opacity: 1;
}
.up-layer {
    opacity: 0;
}
.show {
    animation: 0.8s steps(5) 0s running brush ;
    mask-position: 100% 0%;
    -webkit-mask-position: 100% 0%;
}


/* animations */
@keyframes brush {
    0% {
        mask-position: 0% 0% ;
        -webkit-mask-position: 0% 0% ;
    }
    100% {
        mask-position: 100% 0%;
        -webkit-mask-position: 100% 0%;
    }
}
@keyframes glisten {
    0% {
        box-shadow: inset 1.5em 2.5em 1.2rem var(--secondary-color);
    }
    50% {
        box-shadow: inset 1em 1.5em 2rem var(--accent-color);
    }
    90% {
        box-shadow: inset 0.5em 1.5em 0.2rem var(--secondary-color);
    }
}


/* screen */

@media (max-width: 1100px) or (max-height: 700px) {
    main {
        display: block;
        margin: 0 20px;
    }
    header {
        display: flex;
        justify-content: center;
    }
    header > .container {
        width: 400px;
    }
    aside {
        margin: 2em 0;
    }
    details {
        width: auto;
    }
    .text > *  {
        font-size: small;
    }
    details > .bumper > img {
        mix-blend-mode: normal;
        filter: blur(0);
        transition: all var(--short-transition);
    }
}